.LogementInfo {
  width: 100%;
}
.title {
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  color: #ff6060;
  margin-bottom: 0;
  margin-top: 0;
}
.txt {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  margin: 0;
}

.tags {
  display: flex;
  gap: 15px;
  white-space: nowrap;
}

.contour {
  position: absolute;
  top: 0;
  left: 0;

  width: 99%;
  height: 92%;
  background-color: transparent;
  border: 1px solid #000;
}
.tagContainer {
  position: relative;
  display: inline-block;
}

.tag {
  padding: 4px 34px;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: #ff6060;
  color: #ffffff;
  line-height: 19.96px;
}

.divCollapse {
  display: flex;
  margin-top: 20px;
  gap: 76px;
}
.divCollapse h3 {
  font-size: 18px;
}

.div1 {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.div2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.paraghraphe {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.div-nom {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  display: flex;
  color: #ff6060;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.cercle {
  width: 64px;
  height: 64px;
  background-color: #c4c4c4;
  border-radius: 50%;
}
.nom {
  width: 94px;
  height: 52px;
  text-align: right;
  line-height: 25.67px;
  padding-right: 10px;
}
.affichage {
  display: none;
}

@media screen and (max-width: 1025px) {
  .tag {
    padding: 4px 25px;
    font-size: 12px;
  }
  .title {
    font-size: 26px;
  }
  .txt {
    font-size: 16px;
  }
  .affichage {
    display: none;
  }
  .cercle {
    width: 44px;
    height: 44px;
  }
  .nom {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 18px;
    line-height: 25.67px;
  }
  .txt {
    line-height: 19.96px;
    font-size: 14px;
  }
  .div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    align-items: flex-start;
  }
  .div-nom {
    display: none;
  }
  .divNomCaché {
    display: flex;
    font-size: 12px;
    font-weight: 500;
    line-height: 17.11px;
    letter-spacing: 0em;
    display: flex;
    color: #ff6060;
  }
  .tags {
    flex-wrap: wrap;
    gap: 10px;
   
  }

  .tag {
    padding: 2px 15px;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
  }
  .divN {
    font-size: 12px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    display: flex;
    color: #ff6060;
  }
  .divCollapse {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 0;
  }
  .contour {
    border-color: #ffffff;
  }
  .paraghraphe {
    gap: 8px;
  }
  .affichage {
    display: flex;
    justify-content: space-between;
  }
  .off {
    display: none;
  }
  .cercle {
    width: 32px;
    height: 32px;
  }
  .nom {
    width: 80px;
    padding-top: 0;
    font-size: 12px;
    line-height: 17.11px;
  }
  .div2 {
    margin-bottom: 20px;
    
  }
}
