.gallery {
  display: flex;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.banner .card {
  width: 30%;
}

.card {
  border-radius: 10px;
}
.lien {
  position: relative;
}
h2 {
  position: absolute;
  margin: 0;
  width: 300px;
  color: rgb(174, 14, 14);
  bottom: 10px;
  left: 10px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: auto;
}
.cardList .card {
  width: 100%;
}
