.carrousel {
  position: relative;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  cursor: pointer;
}

.next{
  left: 0;
}

.prev{
  right: 0;
}

.carousel {
  position: relative;
}

.carousel .carrousel-picture {
  object-fit: cover;
  border-radius: 25px;
  width: 100%;
  height: 415px;
}
.pagination {
  visibility: visible;
  position: absolute;
  bottom: 10px; /* Ajustez la distance par rapport au bas */
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

@media screen and (max-width: 1025px) {
  .carousel .carrousel-picture {  
    height: 330px;
  }
.prev,
.next {
  height:60px ;
  width:35px ;
  padding: 10px;
}

}
@media screen and (max-width: 768px) {

  .pagination {
    visibility: hidden;
}
.carousel .carrousel-picture {
  
  height: 255px;
}
.prev,
.next {
  height:19px ;
  width:12px ;
  padding: 10px;
}
}