.carrousel {
  position: relative;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.carousel {
  position: relative;
  width: 100%;
}

.carousel .carrousel-picture {
  border-radius: 25px;
  width: 100%;
  height: 415px;
}
.pagination {
  position: absolute;
  bottom: 10px; /* Ajustez la distance par rapport au bas */
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
