header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 40px 0;
}

nav a {
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}

nav {
  display: flex;
  text-align: right;
  gap: 57px;
}

a:focus {
  text-decoration: underline;
}

@media screen and (max-width: 375px) {
  nav a {
    font-size: 12px;
  }
  nav {
    gap: 26px;
  }
  header img {
    width: 145px;
  }
}
