header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0;
  align-items: center;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
}

nav {
  display: flex;
  gap: 57px;
}

a:focus {
 text-decoration: underline;
}


@media screen and (max-width: 1025px) {
  nav a {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }

}
@media screen and (max-width: 768px) {
  nav a {
    font-size: 12px;
    font-weight: 500;
    line-height: 17.11px;
  }
  nav {
    gap: 26px;
  }
  header img {
    width: 145px;
  }
}
